.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  width: 750px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 250px;
}

.f-bot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 10px;
  width: 100%;
}

.sub {
  border-radius: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
  grid-column: 1 / -1;
  margin-top: 10px;
}

.sub:hover {
  transform: scale(1.03);
  background-color: antiquewhite;
}

.home input {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}

.cont {
  display: flex;
  flex-direction: column;
}

.question-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  border: 3px solid rgb(245, 177, 177);
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 20px;
}

.question-label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 500;
  margin-left: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radio-option input[type="radio"] {
  cursor: pointer;
  width: 18px;
  height: 18px;
  accent-color: #007bff;
}

.radio-option label {
  cursor: pointer;
  font-size: 14px;
  margin: 0;
}
