.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 151, 151);
    min-height: 5vh;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    font-weight: 600;
    margin-top: 50px;
}

.links {
    text-align: center;
    background-color: rgb(255, 211, 211);
    padding: 5px;
    border-radius: 10px;
}