.about-cont, .trips-cont, .vid-cont, .pics-cont, .close-cont, .song-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.note {
    width: 80%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    border: 4px solid rgb(245, 177, 177);
    margin-bottom: 20px;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.divider {
    background-color: rgb(238, 175, 175);
    width: 90%;
    height: 4px;
    border-radius: 10px;
}

.top-pic {
    width: 400px;
    border-radius: 20px;
    border: 15px solid pink;
    /* box-sizing: content-box; */
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cont {
    flex-grow: 1;
}