* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

:root {
  background-color: rgb(255, 215, 215);
  /* background-color: rgb(249, 227, 227); */
  background-image: url('src/assets/download.gif');
  background-attachment: fixed;
  background-size: 200px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cont {
  flex-grow: 1;
}

h1, .title, .group-head {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 4px solid rgb(245, 177, 177);
  border-radius: 10px;
}