* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

:root {
  background-color: rgb(255, 215, 215);
  /* background-color: rgb(249, 227, 227); */
  background-image: url('/download.gif');
  background-attachment: fixed;
  background-size: 200px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cont {
  flex-grow: 1;
}

h1, .title, .group-head {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 4px solid rgb(245, 177, 177);
  border-radius: 10px;
}

/* Tablet Responsive */
@media (max-width: 768px) {
  h1, .title, .group-head {
    padding: 10px 15px;
    border: 3px solid rgb(245, 177, 177);
    font-size: 1.5rem;
  }

  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-cont, .trips-cont, .vid-cont, .pics-cont, .close-cont, .song-cont, .letter-cont, .notes-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Mobile Responsive */
@media (max-width: 480px) {
  h1, .title, .group-head {
    padding: 8px 12px;
    border: 2px solid rgb(245, 177, 177);
    font-size: 1.3rem;
    border-radius: 8px;
  }

  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .about-cont, .trips-cont, .vid-cont, .pics-cont, .close-cont, .song-cont, .letter-cont, .notes-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  :root {
    background-size: 150px;
  }
}