* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

:root {
  background-color: rgb(249, 227, 227);
  background-image: url('src/assets/download.gif');
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.cont {
  flex-grow: 1;
}