.letter-cont {
    /* display: grid;
    grid-template-columns: repeat(3, 350px); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    font-weight: 500;
    width: 80%;
}

.l-item {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border: 4px solid rgb(245, 177, 177);
    transition: 0.2s all;
    width: 80%;
    cursor: pointer;
}

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.l-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    gap: 30px;
}

.l-right {
    margin-right: 50px;
}

.l-item:hover {
    transform: scale(1.01);
    /* transform: translateY(-5px); */
}

.drop {
    background-color: gray;
    border-radius: 20px;
    padding: 2px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.226); */
    transition: 0.2s all;
}

.drop:hover {
    background-color: black;
}

.l-item.expanded {
    transform: scale(1.05);
}

.l-cont {
    text-align: left;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    line-height: 1.6;
    margin: 0;
    font-weight: normal;
    max-height: 200px;
    overflow-y: auto;
    font-weight: 500;
    animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0;
        padding: 0 15px;
    }
    to {
        opacity: 1;
        max-height: 200px;
        padding: 15px;
    }
}