.pic-items {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 40px;
    margin-top: 20px;
    font-weight: 500;
}

.pics {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.2s all;
    border: 4px solid rgb(245, 177, 177);
    /* width: 300px; */
}

.pics:hover {
    transform: scale(1.1);
    /* transform: translateY(-5px); */
}

.pics img {
    border: 3px solid rgb(245, 177, 177);
    border-radius: 10px;
    max-width: 80%;
    transition: 0.2s all;
    margin-bottom: 7px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.pics img:hover {
    transform: scale(1.05);
}