.song-items {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 40px;
    margin-top: 20px;
    font-weight: 500;
}

.song {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 4px solid rgb(245, 177, 177);
    transition: 0.2s all;
    /* width: 300px; */
}

.song:hover {
    transform: scale(1.1);
    /* transform: translateY(-5px); */
}

.song img {
    border: 1px solid black;
    border-radius: 10px;
}