.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  width: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 250px;
  /* height: 250px; */
}

.f-bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub {
  border-radius: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 0.2s all;
}

.sub:hover {
  transform: scale(1.1);
  background-color: antiquewhite;
}

.home input {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
}